{% extends "version-4/includes/form-template.html" %}

{% set pageTitle = "Write the rationale for the project – Transfer an academy – GOV.UK" %}

{% set relatedNavigation = 'true' %}


{% block formQuestions %}
  <form action="./question-b" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-m">
          Reference number: AS_6759840
      </span>
      <h1 class="govuk-heading-l">
          Write the rationale for the project
      </h1>
    {% endset %}

    {{ govukTextarea({
      id: 'project-rationale',
      name: 'project-rationale',
      rows: "20",
      attributes: {
      'data-module': 'moj-rich-text-editor',
      'data-moj-rich-text-editor-toolbar': 'bold,italic,underline,bullets,numbers'
      },
      hint: {
        text: "Edit the school's rationale to add your own analysis"
      },
      label: {
      html: pageHeading,
      classes: 'govuk-!-font-weight-bold'
      }
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}