{% extends "version-2/includes/form-template.html" %}

{% set pageTitle = "Add the date the transfer was first discussed with the outgoing trust – Transfer an academy – GOV.UK" %}

{% set relatedNavigation = 'true' %}


{% block formQuestions %}
  <form action="../set-transfer-dates" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-m">
          St Wilfred's primary school
      </span>
      <h1 class="govuk-heading-l">
          Add the date the transfer was first discussed with the outgoing trust
      </h1>
    {% endset %}

    {{ govukDateInput({
      id: "transfer-first-discussed-date",
      namePrefix: "transfer-first-discussed-date",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For example, 12 11 2007"
      }
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}