{% extends "version-4/includes/form-template.html" %}

{% set pageTitle = "Recommendation – Transfer an academy – GOV.UK" %}

{% set relatedNavigation = 'true' %}


{% block formQuestions %}
  <span class="govuk-caption-l">
    St Wilfred's primary school
  </span>
  <h1 class="govuk-heading-l">
    Recommendation
  </h1>

  <form action="../general-information" method="post" novalidate>

    {{ govukTextarea({
      name: "recommendation",
      id: "recommendation",
      label: {
        text: "What is the recommendation for this project?",
        classes: "govuk-label--m"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Enter the name of the author responsible for HTB paper",
        classes: "govuk-label--m"
      },
      classes: "govuk-!-width-two-thirds",
      id: "name-of-author",
      name: "name-of-author"
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}