{% extends "version-4/layout.html" %}

{% set pageTitle = "Academy performance(reference) – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                {{ projectData.reference }}
            </span>
            <h1 class="govuk-heading-l">
                Academy performance
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{ projectData.name }}</span>
            </h2>
            <p class="govuk-body">
                This information is pre-populated from TRAMS and the school's application form.
            </p>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School phase
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Primary</p>
                    </dd>
                    <!--Add change link if necessary based on needs-->
                    {# <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./set-dates/question-a">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd> #}
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Age range
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">5 - 11 years old</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Capacity
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">420</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOR (% full)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">401 (95.47%)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        PAN
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">60</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        PFI
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">No</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Viability issue
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">No</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Deficit
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">No</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School type
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Academy</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Dioceses % G or O
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Not applicable</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Distance to sponsor HQ
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">1.5 miles (9 minutes)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        MP (party)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Jonathan Djanogly (Conservative party)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Ofsted judgement date
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Good (04-07-13). Short inspection - 13-09-17</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Current framework
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">No</p>
                    </dd>
                </div>

                {# <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Achievement of pupil
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Good</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Quality of teaching
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Good</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Behaviour and safety of pupil
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Outstanding</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Leadership and management
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">Good</p>
                    </dd>
                </div> #}
        
            </dl>

        </div>

        {% if data['academy-performance-more-detail'] and data['update-additional-information'] !='yes'  %}

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">
                Additional information
            </h2>
            <p class="govuk-body">
                This information will populate into your HTB template under the school performance (Ofsted information) section.
            </p>
        </div>

        <div class ="govuk-grid-column-full">

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt id="additional-information" class="govuk-summary-list__key">
                        Additional information
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['academy-performance-more-detail'] %}
                            {{data['academy-performance-more-detail']}}
                        {% else %}
                            <span class="empty">Empty</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/version-4/pre-htb/school-1/academy-performance?update-additional-information=yes#academy-performance-more-detail">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
            </dl>
            <form action="./st-wilfreds-ps" method="post" novalidate>
                <button class="govuk-button" data-module="govuk-button">
                    Confirm and continue
                </button>
            </form>
        </div>


        {% else %}
        <div class="govuk-grid-column-two-thirds">
            <form action="/version-4/pre-htb/school-1/academy-performance#additional-information" method="post" novalidate>
                <input type="text" name="update-additional-information" value="no" hidden> 
                {{ govukTextarea({
                    name: "academy-performance-more-detail",
                    id: "academy-performance-more-detail",
                    label: {
                        text: "Additional information (optional)",
                        classes: "govuk-label--m",
                        isPageHeading: true
                    },
                    value: data['academy-performance-more-detail'],
                    hint: {
                        text: "This information will populate into your HTB template under the school performance (Ofsted information) section."
                    }
                }) }}

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
        {% endif %}
        
    </div>

{% endblock %}