{% extends "version-2/layout.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "Benefits and other factors for " + projectData.name + " – Transfer an academy – GOV.UK" %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                Reference number: {{ projectData.reference }}
            </span>
            <h1 class="govuk-heading-l">
                Benefits and other factors
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{ projectData.name }}</span>
            </h2>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What are the benefits the transfer intended to bring?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['benefits-of-transfer']%}
                        <p class="govuk-body">{{data['benefits-of-transfer']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-a">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Are there any other factors to consider during this transfer?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['other-factors']%}
                        <p class="govuk-body">{{data['other-factors']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-b">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>
        
            </dl>

            <form action="./st-wilfreds-ps" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </div>

            </form>           
        </div>
    </div>

{% endblock %}