{% extends "version-4/layout.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "Benefits and other factors for " + projectData.name + " – Manage an academy transfer – GOV.UK" %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">
                Project reference: {{ projectData.project_reference }}
            </span>
            <h1 class="govuk-heading-l">
                Benefits and risks
            </h1>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What are the intended benefits of the transfer?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['benefits-of-transfer']%}
                        <p class="govuk-body">{{data['benefits-of-transfer']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-a">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Are there any risks to consider for this transfer?
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['risks-branching'] and data['risks-issues'] %}
                        <p class="govuk-body">{{data['risks-branching']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-b-branch">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>

                {% if data['high-profile-detail'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        More details on why this is a high profile transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{data['high-profile-detail']}}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-b-risks-details">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>
                {% endif %}

                {% if data['complex-land-and-building-detail'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        More details on complex land and building issues
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{data['complex-land-and-building-detail']}}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-b-risks-details">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>
                {% endif %}

                {% if data['finance-and-debt-concerns-detail'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        More details on finance and debt concerns
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{data['finance-and-debt-concerns-detail']}}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-b-risks-details">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>
                {% endif %}

                {% if data['other-risks-detail'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        More details on other risks associated with the transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{data['other-risks-detail']}}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./benefits-and-other-factors/question-b-risks-details">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>
                {% endif %}
        
            </dl>

            <form action="./st-wilfreds-ps" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            {% if data['risks-branching']%}
            {{ govukRadios({
                idPrefix: "have-you-completed-this-section",
                name: "have-you-completed-this-section",
                fieldset: {
                legend: {
                    text: "Have you completed this section?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
                },
                items: [
                {
                    value: "yes",
                    text: "Yes, I’ve completed this section"
                },
                {
                    value: "no",
                    text: "No, I’ll come back to it later"
                }
                ]
            }) }}
            {% endif %}

            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>

            </form>           
        </div>
    </div>

{% endblock %}