{% extends "version-4/layout.html" %}

{% set pageTitle = "Download head teacher board (htb) template – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="./preview-htb-template">Back to preview</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
      <span class="govuk-caption-l">{{ projectData.name }}</span>
      <h1 class="govuk-heading-xl">
        Download headteacher board (HTB) documents
      </h1>
      {{ govukInsetText({
        text: "Save these documents in the school's Sharepoint file."
      }) }}

      {% include "version-4/includes/attachment.html" %}
    </div>
{% endblock %}