{% extends "version-4/layout.html" %}

{% set pageTitle = "Download head teacher board (htb) template – Transfer an academy – GOV.UK" %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="./preview-htb-template">Back to preview</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9">
      <span class="govuk-caption-l">Reference number: AS_6759840</span>
      <h1 class="govuk-heading-xl">
        Generate headteacher board (HTB) documents
      </h1>
      <p class="gouk-body">You can make additional changes to the template after downloading.</p>

      {% include "version-4/includes/attachment.html" %}
    </div>
{% endblock %}