{% extends "version-4/layout.html" %}

{% set pageTitle = "General information – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% set sponsorName = data['trusts'][2] %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                Reference number: {{ projectData.reference }}
            </span>
            <h1 class="govuk-heading-l">
                General information
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{ projectData.name }}</span>
            </h2>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Recommendation
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['Who initiated the academy transfer']%}
                        {{data['Who initiated the academy transfer']}}
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-a?returnToTaskList=yes">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Author
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['rdd or esfa intervention']%}
                        <p class="govuk-body">{{data['rdd or esfa intervention']}}</p>
                        <p class="govuk-body">{{data['more-detail']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-b">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        HTB date
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['set-htb-date']%}
                        <p class="govuk-body">{{data['set-htb-date']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__value">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Project name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ projectData.name }}</p>
                    </dd>
                    <dd class="govuk-summary-list__value">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sponsor name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ sponsorName.trust_name }}</p>
                    </dd>
                    <dd class="govuk-summary-list__value">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Academy type and route
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Academy converter</p>
                    </dd>
                    <dd class="govuk-summary-list__value">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Proposed academy transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['target-date-for-transfer']%}
                        <p class="govuk-body">{{data['target-date-for-transfer']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__value">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date the transfer was first discussed with outgoing trust
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['transfer-first-discussed-date']%}
                        <p class="govuk-body">{{data['transfer-first-discussed-date']}}</p>
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__value">
                    </dd>
                </div>
        
            </dl>

            <form action="./st-wilfreds-ps" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </div>

            </form>           
        </div>
    </div>

{% endblock %}