{% extends "version-2/layout.html" %}

{% set pageTitle = "Key stage performance tables(reference) – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">
                {{ projectData.reference }}
            </span>
            <h1 class="govuk-heading-l">
                Key stage performance tables
            </h1>
            <!--Removing this for mvp as we are not yet sure what will be useful in a given context.
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{ projectData.name }}</span>
            </h2>
            <-->
            <p class="govuk-body">
                This information is pre-populated from TRAMS.
            </p>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-from-desktop govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">
                Key stage (KS) 1
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-6">
                Percentage reaching the expected standard
            </p>
            {{ govukTable({
                caption: "Godmanchester Community Academy",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    },
                    {
                        text: "Local authority average",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "87%",
                            format: "numeric"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "83%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "92%",
                            format: "numeric"
                        },
                        {
                            text: "91%",
                            format: "numeric"
                        },
                        {
                            text: "85%",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "89%",
                            format: "numeric"
                        },
                        {
                            text: "92%",
                            format: "numeric"
                        },
                        {
                            text: "86%",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
            {{ govukTable({
                caption: "Godmanchester Bridge Academy",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    },
                    {
                        text: "Local authority average",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "100%",
                            format: "numeric"
                        },
                        {
                            text: "80%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "100%",
                            format: "numeric"
                        },
                        {
                            text: "90%",
                            format: "numeric"
                        },
                        {
                            text: "85%",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "96%",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
            {{ govukTable({
                caption: "Gorefield primary school",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    },
                    {
                        text: "Local authority average",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "73%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "73%",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "94%",
                            format: "numeric"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "94%",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-full">
            {{ govukTable({
                caption: "Key stage 1 – 0",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    },
                    {
                        text: "Local authority average",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        },
                        {
                            text: "()",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">
                Key stage (KS) 2
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-6">
                Data source
            </p>
            <h2 class="govuk-heading-m">
                Godmanchester Bridge Academy
            </h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Cambridgeshire</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Godmanchester Bridge Academy (141690) (Academy sponsor led)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status (route of project)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Open (new provision)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Opening date or date joined trust
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">1 September 2016</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOR
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">106</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        FSM
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">26</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CAP
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">315</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Latest Ofsted rating
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Good</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of inspection
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">27 June 2019</p>
                    </dd>
                </div>

            </dl>
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

            {{ govukTable({
            classes: "govuk-!-margin-bottom-9",
            caption: "2019 key stage (KS) 2",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                    text: ""
                },       
                {
                    text: "Percentage meeting expected standard in reading, writing and maths (PP)"
                },
                {
                    text: "Percentage achieving a higher standard in reading, writing and maths (PP)"
                },
                {
                    text: "Reading progress scores (PP)"
                },
                {
                    text: "Writing progress scores (PP)"
                },
                {
                    text: "Maths progress scores (PP))"
                }
            ],
                rows: [
                    [
                        {
                            text: "Godmanchester Bridge Academy"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        }
                    ],
                    [
                        {
                            text: "Cambridgeshire LA average"
                        },
                        {
                            text: "63"
                        },
                        {
                            text: "9"
                        },
                        {
                            text: "0.2"
                        },
                        {
                            text: "-0.8"
                        },
                        {
                            text: "-0.3"
                        }
                    ],
                    [
                        {
                            text: "National average"
                        },
                        {
                            text: "65 (51)"
                        },
                        {
                            text: "11 (5)"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        }
                    ]
                ]
            }) }}

            {{ govukTable({
            classes: "govuk-!-margin-bottom-9",
            caption: "2018 key stage (KS) 2",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                    text: ""
                },       
                {
                    text: "Percentage meeting expected standard in reading, writing and maths (PP)"
                },
                {
                    text: "Percentage achieving a higher standard in reading, writing and maths (PP)"
                },
                {
                    text: "Reading progress scores (PP)"
                },
                {
                    text: "Writing progress scores (PP)"
                },
                {
                    text: "Maths progress scores (PP))"
                }
            ],
                rows: [
                    [
                        {
                            text: "Godmanchester Bridge Academy"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        },
                        {
                            text: "SUPP (SUPP)"
                        }
                    ],
                    [
                        {
                            text: "Cambridgeshire LA average"
                        },
                        {
                            text: "61"
                        },
                        {
                            text: "10"
                        },
                        {
                            text: "0.1"
                        },
                        {
                            text: "-0.9"
                        },
                        {
                            text: "-0.5"
                        }
                    ],
                    [
                        {
                            text: "National average"
                        },
                        {
                            text: "64 (51)"
                        },
                        {
                            text: "10 (4)"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        }
                    ]
                ]
            }) }}

            {{ govukTable({
            classes: "govuk-!-margin-bottom-9",
            caption: "2017 key stage (KS) 2",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                    text: ""
                },       
                {
                    text: "Percentage meeting expected standard in reading, writing and maths (PP)"
                },
                {
                    text: "Percentage achieving a higher standard in reading, writing and maths (PP)"
                },
                {
                    text: "Reading progress scores (PP)"
                },
                {
                    text: "Writing progress scores (PP)"
                },
                {
                    text: "Maths progress scores (PP))"
                }
            ],
                rows: [
                    [
                        {
                            text: "Godmanchester Bridge Academy"
                        },
                        {
                            text: "()"
                        },
                        {
                            text: "()"
                        },
                        {
                            text: "()"
                        },
                        {
                            text: "()"
                        },
                        {
                            text: "()"
                        }
                    ],
                    [
                        {
                            text: "Cambridgeshire LA average"
                        },
                        {
                            text: "59"
                        },
                        {
                            text: "8"
                        },
                        {
                            text: "0.2"
                        },
                        {
                            text: "-1.2"
                        },
                        {
                            text: "-0.9"
                        }
                    ],
                    [
                        {
                            text: "National average"
                        },
                        {
                            text: "64 (51)"
                        },
                        {
                            text: "10 (4)"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        }
                    ]
                ]
            }) }}
        </div>


        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">
                Key stage (KS) 4
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-6">
                Data source
            </p>
            <h2 class="govuk-heading-m">
                Cardinal Hulme Catholic School
            </h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Gateshead</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        School name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Cardinal Hulme Catholic School (137852) (Academy converter)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status (route of project)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Open (converter)</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Opening date or date joined trust
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">1 September 2016</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOR
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">106</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        FSM
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">26</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CAP
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">315</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Latest Ofsted rating
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Good</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of inspection
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">27 June 2019</p>
                    </dd>
                </div>

            </dl>
        </div>

        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

            {{ govukTable({
            classes: "govuk-!-margin-bottom-9",
            caption: "Attainment 8",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                    text: ""
                },       
                {
                    text: "Year"
                },
                {
                    text: "Score (PP)"
                },
                {
                    text: "English (PP)"
                },
                {
                    text: "Maths (PP)"
                },
                {
                    text: "EBacc (PP)"
                }
            ],
                rows: [
                    [
                        {
                            text: "Cardinal Hulme Catholic School"
                        },
                        {
                            text: "2016"
                        },
                        {
                            text: "53.1 (47.6)"
                        },
                        {
                            text: "11.4 (10.8)"
                        },
                        {
                            text: "10.5 (9.5)"
                        },
                        {
                            text: "14.4 (12.2)"
                        }
                    ],
                    [
                        {
                            text: "Cardinal Hulme Catholic School"
                        },
                        {
                            text: "2017"
                        },
                        {
                            text: "54.7 (49.6)"
                        },
                        {
                            text: "11.4 (10.9)"
                        },
                        {
                            text: "10.6 (9.2)"
                        },
                        {
                            text: "14.9 (13.1)"
                        }
                    ],
                    [
                        {
                            text: "Cardinal Hulme Catholic School"
                        },
                        {
                            text: "2018"
                        },
                        {
                            text: "53.8 (48.6)"
                        },
                        {
                            text: "11 (10.1)"
                        },
                        {
                            text: "10.6 (9.3)"
                        },
                        {
                            text: "15.9 (13.9)"
                        }
                    ],
                    [
                        {
                            text: "Gateshead LA average"
                        },
                        {
                            text: "2018"
                        },
                        {
                            text: "46.2"
                        },
                        {
                            text: "9.7"
                        },
                        {
                            text: "8.8"
                        },
                        {
                            text: "13"
                        }
                    ],
                    [
                        {
                            text: "National average"
                        },
                        {
                            text: "2018"
                        },
                        {
                            text: "46.50 (36.70)"
                        },
                        {
                            text: "9.90 (8.10)"
                        },
                        {
                            text: "9.00 (7.00)"
                        },
                        {
                            text: "13.40 (10.10)"
                        }
                    ]

                ]
            }) }}

            {{ govukTable({
            classes: "govuk-!-margin-bottom-9",
            caption: "Progress 8",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                    text: ""
                },       
                {
                    text: "Year"
                },
                {
                    text: "Pupils included in P8 (PP)"
                },
                {
                    text: "Score (PP)"
                },
                {
                    text: "Lower CI"
                },
                {
                    text: "Upper CI"
                },
                {
                    text: "English (PP)"
                },
                {
                    text: "Maths (PP)"
                },
                {
                    text: "EBacc (PP)"
                }
            ],
                rows: [
                    [
                        {
                            text: "Cardinal Hulme Catholic School"
                        },
                        {
                            text: "2016"
                        },
                        {
                            text: "191 (54)"
                        },
                        {
                            text: "0.23 (0.02)"
                        },
                        {
                            text: "0.08"
                        },
                        {
                            text: "0.38"
                        },
                        {
                            text: "0.35 (0.31)"
                        },
                        {
                            text: "0.26 (0.16)"
                        },
                        {
                            text: "0.16 (-0.17)"
                        }
                    ],
                    [
                        {
                            text: "Cardinal Hulme Catholic School"
                        },
                        {
                            text: "2017"
                        },
                        {
                            text: "182 (43)"
                        },
                        {
                            text: "0.62 (0.55)"
                        },
                        {
                            text: "0.44"
                        },
                        {
                            text: "0.8"
                        },
                        {
                            text: "0.5 (0.62)"
                        },
                        {
                            text: "0.6 (0.44)"
                        },
                        {
                            text: "0.57 (0.5)"
                        }
                    ],
                    [
                        {
                            text: "Cardinal Hulme Catholic School"
                        },
                        {
                            text: "2018"
                        },
                        {
                            text: "219 (48)"
                        },
                        {
                            text: "0.34 (0.25)"
                        },
                        {
                            text: "0.17"
                        },
                        {
                            text: "0.5"
                        },
                        {
                            text: "0.15 (0.11)"
                        },
                        {
                            text: "0.37 (0.23)"
                        },
                        {
                            text: "0.42 (0.27)"
                        }
                    ],
                    [
                        {
                            text: "Gateshead LA average"
                        },
                        {
                            text: "2018"
                        },
                        {
                            text: "1851"
                        },
                        {
                            text: "-0.25"
                        },
                        {
                            text: "-0.3"
                        },
                        {
                            text: "-0.19"
                        },
                        {
                            text: "-0.33"
                        },
                        {
                            text: "-0.32"
                        },
                        {
                            text: "-0.35"
                        }
                    ],
                    [
                        {
                            text: "National average"
                        },
                        {
                            text: "2018"
                        },
                        {
                            text: "494832"
                        },
                        {
                            text: "-0.02 (-0.44)"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "0.00"
                        },
                        {
                            text: "-0.04 (-0.44)"
                        },
                        {
                            text: "-0.02 (-0.39)"
                        },
                        {
                            text: "-0.03 (-0.49)"
                        }
                    ]

                ]
            }) }}
        </div>

        {% if data['key-stage-performance-more-detail'] and data['update-key-stage-performance'] !='yes'  %}

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m">
                Additional information
            </h2>
            <p class="govuk-body">
                This information will populate into your HTB template under the school performance (Ofsted information) section.
            </p>
        </div>

        <div class ="govuk-grid-column-full">

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt id="additional-information" class="govuk-summary-list__key">
                        Additional information
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['key-stage-performance-more-detail'] %}
                            {{data['key-stage-performance-more-detail']}}
                        {% else %}
                            <span class="empty">Empty</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/version-4/pre-htb/school-1/key-stage-performance-tables?update-key-stage-performance=yes#key-stage-performance-more-detail">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
            </dl>
            <form action="./st-wilfreds-ps" method="post" novalidate>
                <button class="govuk-button" data-module="govuk-button">
                    Confirm and continue
                </button>
            </form>
        </div>


        {% else %}
        <div class="govuk-grid-column-two-thirds">
            <form action="/version-4/pre-htb/school-1/key-stage-performance-tables#additional-information" method="post" novalidate>
                <input type="text" name="update-key-stage-performance" value="no" hidden> 
                {{ govukTextarea({
                    name: "key-stage-performance-more-detail",
                    id: "key-stage-performance-more-detail",
                    label: {
                        text: "Additional information (optional)",
                        classes: "govuk-label--m",
                        isPageHeading: true
                    },
                    value: data['key-stage-performance-more-detail'],
                    hint: {
                        text: "This information will populate in your HTB template under the key stage performance tables section."
                    }
                }) }}

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
        {% endif %}

    </div>

    

{% endblock %}