{% extends "version-2/layout.html" %}

{% set pageTitle = "Key stage performance tables(reference) – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                Reference number: {{ projectData.reference }}
            </span>
            <h1 class="govuk-heading-l">
                Key stage performance tables
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{ projectData.name }}</span>
            </h2>
            <p class="govuk-body">
                This information is pre-populated from TRAMS and the school's application form.
            </p>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-6">
            {{ govukTable({
                caption: "Key stage 1 – Godmanchester Community Academy",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "87%",
                            format: "numeric"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "83%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "92%",
                            format: "numeric"
                        },
                        {
                            text: "91%",
                            format: "numeric"
                        },
                        {
                            text: "85%",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "89%",
                            format: "numeric"
                        },
                        {
                            text: "92%",
                            format: "numeric"
                        },
                        {
                            text: "86%",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-6">
            {{ govukTable({
                caption: "Key stage 1 – Godmanchester Bridge Academy",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "100%",
                            format: "numeric"
                        },
                        {
                            text: "80%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "100%",
                            format: "numeric"
                        },
                        {
                            text: "90%",
                            format: "numeric"
                        },
                        {
                            text: "85%",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "96%",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-6">
            {{ govukTable({
                caption: "Key stage 1 – Gorefield primary school",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "73%",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "81%",
                            format: "numeric"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "73%",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "94%",
                            format: "numeric"
                        },
                        {
                            text: "0%",
                            format: "numeric"
                        },
                        {
                            text: "94%",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-6">
            {{ govukTable({
                caption: "Key stage 1 – 0",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                    {
                        text: "Subjects"
                    },
                    {
                        text: "2016",
                        format: "numeric"
                    },
                    {
                        text: "2017",
                        format: "numeric"
                    },
                    {
                        text: "2018",
                        format: "numeric"
                    },
                    {
                        text: "2018 national mean average percentage",
                        format: "numeric",
                        classes: 'govuk-!-width-one-quarter'
                    }
                ],
                rows: [
                    [
                        {
                            text: "Reading"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "75%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Writing"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "70%",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Maths"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "?",
                            format: "numeric"
                        },
                        {
                            text: "76%",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}
        </div>
    </div>

    {# <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukTable({
            caption: "Dates and amounts",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                text: "Date"
                },
                {
                text: "Amount"
                }
            ],
                rows: [
                    [
                        {
                            text: ""
                        },
                        {
                            text: "£109.80 per week"
                        }
                    ],
                    [
                        {
                            text: "Next 33 weeks"
                        },
                        {
                            text: "£109.80 per week"
                        }
                    ],
                    [
                        {
                            text: "Total estimated pay"
                        },
                        {
                            text: "£4,282.20"
                        }
                    ]
                ]
            }) }}
        </div>
    </div> #}

    {# <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m">KS2 data</h2> #}

            {# <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Local Authority
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        School Name
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Status (route of project)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Opening date or date joined trust
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        NOR / FSM/ CAP
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        % achieving a higher std in RWM (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        % meeting expected std in RWM (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Progress score ( by year)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Latest Ofsted Rating
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Date of Inspection
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Percentage of pupil meeting expected standard in PWM compared to national average (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">65 (51)</p>
                    </dd>
                </div>
                <!--we can try to see if users would be able to understand the data in one column versus displaying it over two columns-->
                {# <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div> #}

                {# <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average (% achieving a higher std in PWM)Percentage of pupil achieving a higher standard in PWM compared to national average (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">11 (5)</p>
                    </dd>
                </div>
        
            </dl> #}

            {# <h2 class="govuk-heading-m">KS4 data</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Local Authority
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        School Name
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Status of project
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Opening date or date joined trust
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        NOR / FSM/ CAP
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Year
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        A8 - score (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        A8 - English (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        A8 - Maths (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        A8 - EBacc (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Pupils included in P8 (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        P8 - score (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        P8 - Lower CL
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        P8 - Upper CL
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        P8 - English (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        P8 - Maths (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        P8 EBacc (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Last Ofsted rating
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Date of inspection
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average A8 score (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average A8 - English (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average A8 - Maths (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average A8 - EBacc (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average pupils included in P8 (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average P8 score (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average P8 - lower CL
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average P8 - upper CL
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average P8 - English (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average P8 - Maths (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        National average P8 - Ebacc (PP)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>
        
            </dl> #}

            {# <h2 class="govuk-heading-m">KS5 data</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Local Authority
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        School Name
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Status - route of project
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Opening date or date joined trust
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        NOR / FSM/ CAP
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Year
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Academic program (year)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Academic average (year)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Applied general program (year)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Applied general average (year)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Last Ofsted rating
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <dt class="govuk-summary-list__key">
                        Date of inspection
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <span class="empty">Empty</span>
                    </dd>
                </div>

            </dl> #}

            <form action="./st-wilfreds-ps" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>

            </form>           
        </div>
    </div>

    

{% endblock %}