{% extends "version-2/layout.html" %}

{% set pageTitle = "Pupil number(reference) – Transfer an academy – GOV.UK" %}

{% set projectData = data['records'][0] %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                Reference number: {{ projectData.reference }}
            </span>
            <h1 class="govuk-heading-l">
                Pupil numbers
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{ projectData.name }}</span>
            </h2>
            <p class="govuk-body">
                This information is pre-populated from TRAMS and the school's application form.
            </p>
        <hr class="govuk-section-break govuk-section-break--l">
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Girls on roll
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">48.7%</p>
                    </dd>
                    <!--Add change link if necessary based on needs-->
                    {# <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./set-dates/question-a">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd> #}
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Boys on roll
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">51.3%</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Pupils with a statement of special educational needs (SEN)
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">2.7%</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Pupils whose first language is not English
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">2.7%</p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Pupils eligible for free school meal during the past 6 years
                    </dt>
                    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
                        <p class="govuk-body">16.8%</p>
                    </dd>
                </div>
        
            </dl>

            <form action="./st-wilfreds-ps" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>

            </form>           
        </div>
    </div>

{% endblock %}