<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Attainment
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
    {% if data['#']%}
        <p class="govuk-body">{{data['#']}}</p>
    {% else %} 
        <span class="empty">Empty</span>
    {% endif %}
    </dd>
    <!--Add change link if necessary based on needs-->
    {# <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="./set-dates/question-a">
        Change<span class="govuk-visually-hidden">outgoing trust</span>
    </a>
    </dd> #}
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        School name
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Maths (by year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Writing (by year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Reading (by year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Year
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Mean average
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>