<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Local Authority
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        School Name
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Status of project
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Opening date or date joined trust
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        NOR / FSM/ CAP
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Year
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        A8 - score (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        A8 - English (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        A8 - Maths (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        A8 - EBacc (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Pupils included in P8 (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        P8 - score (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        P8 - Lower CL
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        P8 - Upper CL
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        P8 - English (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        P8 - Maths (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        P8 EBacc (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Last Ofsted rating
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Date of inspection
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average A8 score (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average A8 - English (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average A8 - Maths (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average A8 - EBacc (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average pupils included in P8 (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average P8 score (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average P8 - lower CL
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average P8 - upper CL
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average P8 - English (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average P8 - Maths (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        National average P8 - Ebacc (PP)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>