<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Local Authority
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        School Name
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Status - route of project
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Opening date or date joined trust
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        NOR / FSM/ CAP
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Year
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Academic program (year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Academic average (year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Applied general program (year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Applied general average (year)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Last Ofsted rating
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row govuk-!-margin-bottom-9">
    <dt class="govuk-summary-list__key">
        Date of inspection
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>