<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        School name
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
    {% if data['#']%}
        <p class="govuk-body">{{data['#']}}</p>
    {% else %} 
        <span class="empty">Empty</span>
    {% endif %}
    </dd>
    <!--Add change link if necessary based on needs-->
    {# <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="./set-dates/question-a">
        Change<span class="govuk-visually-hidden">outgoing trust</span>
    </a>
    </dd> #}
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Ofsted Inspection date
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Overall Effectiveness
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Achievement of Pupils
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Quality of teaching
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Behaviour and safety of Pupils
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Leadership & Management
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Early years Provision
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>