<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Girls on roll
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
    {% if data['#']%}
        <p class="govuk-body">{{data['#']}}</p>
    {% else %} 
        <span class="empty">Empty</span>
    {% endif %}
    </dd>
    <!--Add change link if necessary based on needs-->
    {# <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="./set-dates/question-a">
        Change<span class="govuk-visually-hidden">outgoing trust</span>
    </a>
    </dd> #}
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Boys on roll
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Pupils with a statement of special educational needs (SEN)
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Pupils whose first language is not English
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        Pupils eligible for free school meal during the past 6 years
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--width-50">
        <span class="empty">Empty</span>
    </dd>
</div>