{% extends "version-2/includes/form-template.html" %}

{% set pageTitle = "What type of transfer is it? – Transfer an academy – GOV.UK" %}

{% set relatedNavigation = 'true' %}

{% block formQuestions %}
  <form action="../features-of-a-transfer" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-m">
          St Wilfred's primary school
      </span>
      <h1 class="govuk-heading-l">
          What type of transfer is it?
      </h1>
    {% endset %}

    {% set typeOfTransfer %}
      {{ govukInput({
        id: "other-type-of-transfer",
        name: "other-type-of-transfer",
        type: "text",
        spellcheck: true,
        classes: "govuk-!-width-full",
        label: {
          text: "Enter the type of transfer"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "type-of-transfer",
      name: "type-of-transfer",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true
        }
      },
      items: [
        {
          value: "Closure of a SAT and the academy joining a MAT",
          text: "Closure of a SAT and the academy joining a MAT"
        },
        {
          value: "Closure of a MAT and academies joining a MAT(s)",
          text: "Closure of a MAT and academies joining a MAT(s)"
        },
        {
          value: "Academy moving out of a MAT and joining another MAT",
          text: "Academy moving out of a MAT and joining another MAT"
        },
        {
          value: "Academies joining together to form a new MAT",
          text: "Academies joining together to form a new MAT"
        },
        {
          value: "Two or more academy trusts are merging",
          text: "Two or more academy trusts are merging"
        },
        {
          divider: "or"
        },
        {
          value: "Other type of transfer",
          text: "Any other type of transfer",
          conditional: {
            html: typeOfTransfer
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}
