{% extends "version-4/includes/form-template.html" %}

{% set pageTitle = "Who initiated the academy transfer? – Transfer an academy – GOV.UK" %}

{% set relatedNavigation = 'true' %}


{% block formQuestions %}
    <form action="./question-b" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-m">
          St Wilfred's primary school
      </span>
      <h1 class="govuk-heading-l">
          Who initiated the academy transfer?
      </h1>
    {% endset %}

    {{ govukRadios({
      idPrefix: "Who initiated the academy transfer",
      name: "Who initiated the academy transfer",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true
        }
      },
      items: [
        {
          value: "Department for Education",
          text: "Department for Education"
        },
        {
          value: "Outgoing trust",
          text: "Outgoing trust"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}