{% extends "version-2/layout.html" %}

{% set pageTitle = "Features of the transfer – Transfer an academy – GOV.UK" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a prototype of a new service. <a class="govuk-link" href="#">Give feedback to help us improve this service</a>.'
  }) }}

  <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">Reference number: AS_6759840</span>
            <h1 class="govuk-heading-l">
            Features of the transfer
            </h1>
            <p class="govuk-body">
                This information is pre-populated from TRAMS and the school's application form.
            </p>
            <hr class="govuk-section-break govuk-section-break--m">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outgoing trust
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['Who initiated the academy transfer']%}
                        {{data['Who initiated the academy transfer']}}
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-a">
                        Change<span class="govuk-visually-hidden">outgoing trust</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reason for transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['rdd or esfa intervention']%}
                        {{data['rdd or esfa intervention']}}
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-b">
                        Change<span class="govuk-visually-hidden">reason for transfer</span>
                    </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type of transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {% if data['type-of-transfer']%}
                        {{data['type-of-transfer']}}
                    {% else %} 
                        <span class="empty">Empty</span>
                    {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./features/question-c">
                        Change<span class="govuk-visually-hidden">type of transfer</span>
                    </a>
                    </dd>
                </div>
        
            </dl>

            <form action="../features-of-a-transfer" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a class="govuk-link" href="../features-of-a-transfer">
                    Cancel
                </a>
            </div>

            </form>           
        </div>
    </div>

{% endblock %}