.app-application-card {
    margin-bottom: govuk-spacing(3);
    padding-bottom: govuk-spacing(3);
    border-bottom: 1px solid govuk-colour('mid-grey');
    
    @include govuk-media-query($from: 401px) {
      display: flex;
      // Ensure columns evenly distributed, with no gap at the start or end
      justify-content: space-between;
    }
  }
  
  .app-application-card:first-of-type {
    border-top: 1px solid govuk-colour('mid-grey');
    padding-top: govuk-spacing(3);
  }
  
  // Checkbox column
  // This column isnt always shown - is dependeant on a feature flag 
  .app-application-card_col:nth-last-child(3) {
    @include govuk-media-query($from: tablet) {
      width: 5%;
      padding-right: govuk-spacing(2);
    }
  }
  
  // Trainee + Course details columns
  .app-application-card_col:nth-last-child(2) {
   
    .govuk-tag {
      margin-bottom: govuk-spacing(2);
    }
  
    div:nth-child(1) {
      margin-bottom: govuk-spacing(2);
    }
  
    @include govuk-media-query($from: 401px) {
      width: 60%;
    }
  
    @include govuk-media-query($until: 500px) {
      div:nth-child(1),
      div:nth-child(2) {
        width: 100%;
        padding-right: govuk-spacing(3);
      }
    }
  
    @include govuk-media-query($from: 501px) {
      width: 65%;
      padding-right: govuk-spacing(3);
    }
  
    @include govuk-media-query($from: 501px, $until: desktop) {
      display: flex;
      // Ensure columns evenly distributed, with no gap at the start or end
      justify-content: space-between;
  
      div:nth-child(1) {
        width: 60%;
        padding-right: govuk-spacing(3);
        margin-bottom: 0;
      }
      
      div:nth-child(2) {
        width: 40%;
      }
    }
    
    @include govuk-media-query($from: $govuk-page-width) {
      display: flex;
      // Ensure columns evenly distributed, with no gap at the start or end
      justify-content: space-between;
  
      div:nth-child(1) {
        width: 60%;
        padding-right: govuk-spacing(3);
        margin-bottom: 0;
      }
      
      div:nth-child(2) {
        width: 40%;
      }
    }
  
  }
  
  // Status column
  .app-application-card_col:nth-last-child(1) {
    margin-top: govuk-spacing(2);
    
    @include govuk-media-query($from: 401px) {
      width: 100%;
      margin-top: 0;
      text-align: left;
    }
    
    @include govuk-media-query($from: 501px) {
      width: 100%;
    }
  }
  
  // Helpers
  
  .app-application-card__trainee-name {
    hyphens: auto;
  }
  
  .app-application-card .govuk-tag {
    // Stops elements in flex containers to try and fill available space
    align-self: flex-end;
  }
  
  .app-application-card__provider {
    overflow-wrap: break-word;
  }
  
  .app-application-card__submitted {
  
    @include govuk-media-query($from: 401px) {
      span {
        display: block;
      }
    }
  }