{% extends "version-2/layout.html" %}

{% set pageTitle = "St.Wilfred's primary school – Transfer an academy – GOV.UK" %}

{% block beforeContent %}
  {% include "version-2/includes/phase-banner.html" %}
  <a class="govuk-back-link" href="/transfers/dashboard/1">Back to transfer projects</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-l">Reference number: AS_6759840</span>
      <h1 class="govuk-heading-xl">
        St Wilfred's primary school
      </h1>
    
      <h2 class="govuk-heading-l">
        Create head teacher board (HTB) template
      </h2>
      <p class="govuk-body">
        The task list will help you prepare for the headteacher board (HTB) meeting. You can complete the tasks in any order.
      </p>
      <p class="govuk-body">
        Some of the information in each task is already pre-populated from TRAMS and the school's application form. Some of the information you will need to fill out yourself.
      </p>
      <hr class="govuk-section-break govuk-section-break--m">
    </div>

    <div class="govuk-grid-column-full">

      <nav class="app-sub-navigation" aria-label="sub menu">

        <ul class="app-sub-navigation__list">
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="./st-wilfreds-ps">Tasks</a>
          </li>
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link"  aria-current="page" href="404.html">Reference data</a>
          </li>
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link"  href="404.html">Rationale</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-grid-column-full govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-s">
        Academy performance
      </h2>

      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Academy performance
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/academy-performance.html" %}
          </dl>
        </div>
      </section>

      <h2 class="govuk-heading-s">
        Pupil numbers
      </h2>

      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Pupil numbers
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/pupil-numbers.html" %}
          </dl>
        </div>
      </section>


      <h2 class="govuk-heading-s">
        Latest Ofsted judgement
      </h2>

      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Latest Ofsted judgement
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/latest-ofsted-judgement.html" %}
          </dl>
        </div>
      </section>


      <h2 class="govuk-heading-s">
        Key stage performance tables
      </h2>

      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Key stage 1 data
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/ks1-data.html" %}
          </dl>
        </div>
      </section>


      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Key stage 2 data
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/ks2-data.html" %}
          </dl>
        </div>
      </section>


      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Key stage 4 data
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/ks4-data.html" %}
          </dl>
        </div>
      </section>


      <section class="app-summary-card govuk-!-margin-bottom-7">
         <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Key stage 5 data
          </h2>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% include "version-3/includes/ks5-data.html" %}
          </dl>
        </div>
      </section>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Generate head teacher board (HTB) template
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Review the information in this page and generate HTB template for St.Wilfreds primary school.
      </p>

      <form action="./set-transfer-dates" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Generate HTB template
        </button>
        <p class="govuk-body">
          <a href="/version-3/dashboard-home" class="govuk-link govuk-link--no-visited-state">
            Save and return to this project later
          </a>
        </p>
      </div>
      </form>

    </div>

  </div>
  

{% endblock %}