{% extends "version-4/layout.html" %}

{% set pageTitle = "Academy transfer projects – Transfer an academy – GOV.UK" %}

{% block beforeContent %}
  {% include "version-4/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage an academy transfer prototype
      </h1>

      <p class="govuk-body-l">
        This is where the SDD Manage an academy transfer service prototype lives.
      </p>

      <p class="govuk-body">
        You can use this to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>create a new transfer project</li>
        <li>view all your transfer projects</li>
        <li>review imformation related to the academy and trust involved in the transfer</li>
        <li>write your rationale for the project template</li>
        <li>download your completed project template</li>
      </ul>

      {{ govukButton({
        text: "Start prototype",
        href: "/version-4/dashboard-home",
        isStartButton: true
      }) }}
    </div>
  </div>

{% endblock %}