{% extends "version-4/layout.html" %}

{% set pageTitle = "Prototype admin – Transfer an academy – GOV.UK" %}

{% block beforeContent %}
  {% include "version-4/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Prototype admin
          <!--Academy transfer projects-->
      </h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="./version-4/session-timed-out">Session timed out</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}