{{ govukPhaseBanner({
    tag: {
    text: "prototype"
    },
    html: 'This is a prototype of a new service. <a class="govuk-link" href="#">Give feedback to help us improve this service</a>.'
}) }}

<!--setting for dynamic back link-->
{% if not backLink %}
    {% set backLink      = 'javascript:history.back();' %}
{% endif %}

{% if not backText %}
    {% set backText = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}

{% block pageNavigation %}
  {% if backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

<!--form layout-->
{# {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block formQuestions %}

      {% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% if relatedNav == 'true' %}
        {% include "version-2/includes/related-navigation.html" %}
      {% endif %}
    </div>
  </div>

{% endblock %} #}