{% extends "version-2/layout.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a prototype of a new service. <a class="govuk-link" href="#">Give feedback to help us improve this service</a>.'
  }) }}

    <a class="govuk-back-link" href="../school-1/st-wilfreds-ps">Back to task list</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                Reference number: {% set referenceNumber %}
            </span>
            <h1 class="govuk-heading-l">
                {% set taskPageHeading %}
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{% set trustName %}</span>
            </h2>
            <p class="govuk-body">
                This information is pre-populated from TRAMS and the school's application form.
            </p>
            <hr class="govuk-section-break govuk-section-break--l">
            
            {% block summaryItems %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
