{% set summaryPageItems %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-m">
                Reference number: {{projectReferenceNumber}}
            </span>
            <h1 class="govuk-heading-l">
                {{summaryHeading}}
            </h1>
            <h2 class="govuk-heading-m">
                Outgoing trust: <span class="govuk-!-font-weight-regular govuk-!-font-size-24">{{schoolName}}</span>
            </h2>
            <p class="govuk-body">
                This information is pre-populated from TRAMS and the school's application form.
            </p>
            <hr class="govuk-section-break govuk-section-break--l">
            {% block summaryData %}

            {% endblock %}
        </div>
    </div>
{% endset %}