{% extends "version-4/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "Can you provide more detail on why this is a high profile transfer? – Manage an academy transfer – GOV.UK" %}

{% set relatedNavigation = 'false' %}

{% block formQuestions %}
  <form action="/submit-high-profile" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      Why is this a high profile transfer? (optional)
    {% endset %}
    

    {{ govukTextarea({
      name: "high-profile-detail",
      id: "high-profile-detail",
      classes: "govuk-!-margin-bottom-8",
      label: {
        html: pageHeading,
        isPageHeading: true,
        classes: "govuk-label--l"
      }
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}