{% extends "version-4/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "Are there any important risks to consider? – Manage an academy transfer – GOV.UK" %}

{% set relatedNavigation = 'false' %}

{% block formQuestions %}
  <form action="../benefits-and-other-factors" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      Are there any important risks to consider?
    {% endset %}

    {# {% set highProfileHtml %}
    {{ govukInput({
      id: "high-profile",
      name: "high-profile",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Specify this concern further"
      }
    }) }}
    {% endset -%}

    {% set complexIssuesHtml %}
    {{ govukInput({
      id: "complex-issues",
      name: "complex-issues",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Specify this concern further"
      }
    }) }}
    {% endset -%}

    {% set financeDebtHtml %}
    {{ govukInput({
      id: "finance-debt",
      name: "finance-debt",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Specify this concern further"
      }
    }) }}
    {% endset -%} #}

    {{ govukCheckboxes({
      idPrefix: "risks-issues",
      name: "risks-issues",
      classes: "govuk-!-margin-bottom-6",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "high-profile-transfer",
          text: "This is a high profile transfer (ministers and media could be involved)"
        },

        {
          value: "complex-issues",
          text: "There are complex land and building issues"
        },

        {
          value: "finance-debt",
          text: "There are finance and debt concerns"
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "specify-concern",
      id: "specify-concern",
      rows: "6",
      label: {
        text: "Provide more details",
        classes: "govuk-label--l"
      },
      hint: {
        text: "Use this area to provide more information or list any other risks"
      }
    }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
  </form>

{% endblock %}