{% extends "version-2/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "What are the benefits the transfer intended to bring? – Transfer an academy – GOV.UK" %}

{% set relatedNavigation = 'true' %}


{% block formQuestions %}
  <form action="./question-b" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-m">
          {{ projectData.name }}
      </span>
      <h1 class="govuk-heading-l">
          What are the benefits the transfer intended to bring?
      </h1>
    {% endset %}

    {% set otherBenefitHtml %}
    {{ govukInput({
      id: "add-benefit",
      name: "add-benefit",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter the benefit"
      }
    }) }}
    {% endset -%}

    {{ govukCheckboxes({
      idPrefix: "waste",
      name: "waste",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "governance",
          text: "Strengthening governance"
        },
        {
          value: "safeguarding",
          text: "Improving safeguarding"
        },
        {
          value: "leadership",
          text: "Stronger leadership"
        },
        {
          value: "finance",
          text: "Securing financial recovery"
        },
        {
          value: "ofsted",
          text: "Improving Ofsted rating"
        },
        {
          value: "finance-and-support",
          text: "A central financial team and central support"
        },
        {
          value: "other-benefit",
          text: "Add an other benefit",
          conditional: {
            html: otherBenefitHtml
          }
        }
      ]
    }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
  </form>

{% endblock %}