{% extends "version-4/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "Are there any risks to consider? – Manage an academy transfer – GOV.UK" %}

{% set relatedNavigation = 'true' %}

{% block formQuestions %}
  <form action="../benefits-and-other-factors" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      What are the risks associated with this transfer?
    {% endset %}

    {# {% set highProfileHtml %}
    {{ govukInput({
      id: "high-profile",
      name: "high-profile",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Specify this concern further"
      }
    }) }}
    {% endset -%}

    {% set complexIssuesHtml %}
    {{ govukInput({
      id: "complex-issues",
      name: "complex-issues",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Specify this concern further"
      }
    }) }}
    {% endset -%}

    {% set financeDebtHtml %}
    {{ govukInput({
      id: "finance-debt",
      name: "finance-debt",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Specify this concern further"
      }
    }) }}
    {% endset -%} #}

    {{ govukCheckboxes({
      idPrefix: "risks-issues",
      name: "risks-issues",
      classes: "govuk-!-margin-bottom-6",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "This is a high profile transfer (ministers and media could be involved)",
          text: "This is a high profile transfer (ministers and media could be involved)"
        },

        {
          value: "There are complex land and building issues",
          text: "There are complex land and building issues"
        },

        {
          value: "There are finance and debt concerns",
          text: "There are finance and debt concerns"
        },

        {
          value: "Other risks",
          text: "Other risks"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}