{% extends "version-2/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "What are the intended benefits of the transfer? – Manage an academy transfer – GOV.UK" %}

{% set relatedNavigation = 'true' %}


{% block formQuestions %}
  <form action="../benefits-and-other-factors" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
      What are the intended benefits of the transfer?
    {% endset %}

    {% set otherBenefitHtml %}
    {{ govukInput({
      id: "add-benefit",
      name: "add-benefit",
      type: "text",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter the benefit"
      }
    }) }}
    {% endset -%}

    {{ govukCheckboxes({
      idPrefix: "waste",
      name: "waste",
      fieldset: {
        legend: {
          html: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "leadership",
          text: "Stronger leadership"
        },
        {
          value: "governance",
          text: "Strengthening governance"
        },
        {
          value: "safeguarding",
          text: "Improving safeguarding"
        },
        {
          value: "finance",
          text: "Secure financial position"
        },
        {
          value: "finance-and-support",
          text: "A central financial team and central support"
        },
        {
          value: "pupil-performance",
          text: "Improved pupil performance"
        },
        {
          value: "stability",
          text: "Long term stability"
        },
        {
          value: "other-benefit",
          text: "Add another benefit",
          conditional: {
            html: otherBenefitHtml
          }
        }
      ]
    }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
  </form>

{% endblock %}