{% extends "version-4/includes/form-template.html" %}

{% set projectData = data['records'][0] %}

{% set pageTitle = "What complex land and building issues are there? – Manage an academy transfer" %}

{% set relatedNavigation = 'false' %}

{% block formQuestions %}
  <form action="/submit-land-and-building-issues" method="post" novalidate>
    <!--page heading with caption include-->
    {% set pageHeading %}
      <span class="govuk-caption-l">
          {{ projectData.name }}
      </span>
     What outgoing trust issues are there?
     <div id="more-detail-hint" class="govuk-hint">
      For example, the trust is refusing to provide information about an academy.
    </div>
    {% endset %}
    
  


    {{ govukTextarea({
      name: "complex-land-and-building-detail",
      id: "complex-land-and-building-detail",
      classes: "govuk-!-margin-bottom-8",
      label: {
        html: pageHeading,
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      value: data["complex-land-and-building-detail"]
    }) }}    

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}